.bodycont {
	background-color: #c3dcbf;
}
.playnav {
	top: 70px;
	left: 0px;
	height: 70%; width : 200px;
	float: center;
	position: relative;
	width: 200px;
}
#page1, #page2, #page3, #page4 
{

	display: none;
}
@font-face {
	font-family: 'Palatino';
	src: url('fonts/pala.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

p.logo {
	font-family: 'Palatino';
	font-weight: normal;
	font-size: 150px;
	letter-spacing: 8px;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 0px;
	border-bottom: 1px solid #000;
	margin-bottom: 0px;
	margin-top: 0px;
}

a {
	font-family: 'Goudy Bookletter 1911';
	font-weight: bold;
	font-size: 14pt;
	text-decoration: none;
}

a.submenu {
	font-family: 'SwIS Bold';
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
}

p {
	font-family: 'Goudy Bookletter 1911';
	font-weight: normal;
	font-size: 12pt;
	text-decoration: none;
}

footer{
	font-family: 'Josefin Sans';
	font-weight: normal;
	font-size:9pt;
	color:#dcdcdc;
	text-decoration: none;
	float:center;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Josefin Sans';
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}